# macOS system files
.DS_Store

# Draw.io
*.dtmp

# Python
*.egg-info
requirements.txt
.coverage*

# pyenv
.python-version

# VS Code
.vscode/

# Project specific
.speechdown/

# legacy
legacy

# tests data
tests/data/transcripts

# Scripts data
scripts/*/data/